@import url('https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap');
@import url('https://fonts.googleapis.com/css?family=Ubuntu&display=swap');

* {
    cursor: url('default_face.png') 16 16, auto;
}

*:active {
    cursor: url('click_face.png') 16 16, auto;
}

html, body {
    height: 100%;
    margin: 0px;
    padding: 0px;
    border: 0px;
    font-family: 'Ubuntu';
}

.root {
    width: 100%;
    overflow: auto;
    color: #F03A47;
}

h1 {
    font-size: 1.5em;
    margin-block-start: 1em;
}

h2 {
    font-size: 1.2em;
    padding-left: 20px;
    margin-block-start: 1em;
}

h3 {
    font-size: 0.9em;
    padding-left: 40px;
    margin-block-start: 1em;
}

h4 {
    font-size: 0.8em;
    padding-left: 60px;
    margin-block-start: 1em;
}

li {
    list-style: none;
}

p {
    font-size: 0.6em;
    padding-left: 50px;
}

.background-light {
    background-color: #E6E6F4;
}

.background-light > * a {
    color: #030426;
}

.background-light > * .reference-preview {
    border-color: #030426;
}

.background-dark {
    background-color: #030426;
}

.background-dark > * a {
    color: #E6E6F4;
}

.background-dark > * .reference-preview {
    border-color: #E6E6F4;
}

.section {
    height: 100vh;
    padding: 80px 180px 60px 120px;
    font-size: 1.5em;
}

.reflexion {
    padding: 80px 180px 60px 120px;
    font-size: 1.5em;
}

.sticky {
    position: fixed;
    z-index: 2;
}

.lightswitch img {
    float: right;
}

.home {
    font-family: 'Roboto Mono';
    text-align: center;
}

.home p {
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

.copyright {
    height: 100%;
    position: relative;
}

.copyright span {
    position: absolute;
    text-align: center;
    bottom: 0;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    font-size: 0.6em;
}

.reference-preview {
    border: solid;
    border-color: #030426;
    position: relative;
    background-color: #F03A47;
    width: 40%;
    float: left;
    margin: 10px 50px;
}

.reference-preview img {
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
}

.reference-preview:hover img {
    opacity: .3;
}

.reference-preview div {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
}

.reference-preview:hover div {
    opacity: 1;
  }
  
.reference-preview div div {
    font-size: .7em;
    color: #030426;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -10%);
    -ms-transform: translate(-50%, -10%);
    transform: translate(-50%, -10%);
    text-align: center;
}

/* Desktop */
html, body {
    font-size: 1.5em;
}

.lightswitch {
    top: 70px;
    right: 70px;
}

#sun {
    margin-top: 60px;
    margin-right: -35px;
}

.nav {
    bottom: 70px;
    right: 70px;
    text-align: left;
    writing-mode: vertical-rl;
    text-orientation: sideways-right;
    transform: rotate(180deg);
    font-size: 0.8em;
}

.nav a {
    padding-bottom: 50px;
    text-decoration: none;
    color: #F03A47;
}

.home p {
    width: 50%;
    font-size: 1.6em;
}

/* Mobile */
@media only screen and (max-width: 600px) {
    html, body {
        font-size: 1.2em;
    }
    
    .lightswitch {
        top: initial;
        bottom: 30px;
        right: 30px;
    }
    
    #sun {
        margin-top: 60px;
        margin-right: -35px;
    }
    
    .nav {
        width: 100%;
        top: 30px;
        left: 0;
        display: initial;
        bottom: initial;
        right: 0;
        margin: auto;
        text-align: center;
        writing-mode: initial;
        text-orientation: initial;
        transform: initial;
    }
    
    .nav a {
        padding-bottom: initial;
        margin-right: 20px;
        margin-left: 20px;
    }
    
    .home p {
        width: 85%;
        font-size: 1.4em;
    }
    
    .section {
        padding: 70px 40px;
        font-size: 1;
    }

    .reflexion {
        padding: 70px 40px;
        font-size: 1;
    }

    .reference p {
        padding: 0px;
    }

    .reference-preview {
        width: 80%;
        float: none;
        margin: auto;
        margin-bottom: 50px;
    }
}